<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/yasmine.lameri.7" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.instagram.com/yasminelameri/?igsh=MTkwY3I2MTN4Z3lqaw%3D%3D" target="_blank">
            <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.linkedin.com/in/ameri-yasmine/" target="_blank">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link " href="https://github.com/Yasmineamari" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
       
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>