<div class="section" id="experience" >
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="resume">
                    
                    <ul class="resume">
                        
                            
                            <div class="resume-item" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 resume-title">Internship - Data Engineer</div>
                                        <div class="h6 mt-0 title">Talys Consulting</div>
                                        <p >This project involved developing an RPA (Robotic Process Automation) bot to automate the recruitment process at Talys Consulting. The bot was designed to interact with application management platforms, enabling automatic CV pre-screening. It ensures synchronization across different stages of recruitment, thereby facilitating application management and improving decision-making accuracy. </p> <p> The project highlighted the benefits of automation in making the recruitment process more efficient and less time-consuming.</p>
                                      
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <div class="h5 mt-0 title">

                                            </div>
                                            
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                
                                                <li class="non_list">Automation of Recruitment Processes with an RPA Bot</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Deep Learning</li>
                                                        <li class="non_list">Excel</li>
                                                        <li class="non_list">Github</li>
                                                        <li class="non_list">Machine Learning</li>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Data analysis</li>
                                                        <li class="non_list">Uipath</li>
                                                        <li class="non_list">CRISP-DM</li>
                                                        <li class="non_list">Web scrapping</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                         
                        
                            
                            <div class="resume-item" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 resume-title">Part time job - AI Engineer</div>
                                        <div class="h6 mt-0 title">Influence Consulting </div>
                                        <p >I developed a Rasa chatbot capable of understanding Arabic, specifically the Bahraini dialect, to enhance the ordering process in restaurants. Following the Scrum methodology, I first collected 27,000 audio files in Bahraini language. I then preprocessed this data by cleaning the texts, using natural language processing (NLP) techniques such as tokenization, stemming, and segmentation, with TensorFlow. I integrated a speech recognition model using Google Speech Recognition, which supports Arabic.</p><p>This project aims to provide a smooth and intuitive voice interface to improve client interaction with the restaurant ordering system.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <div class="h5 mt-0 title"></div>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Development of an arabic Chatbot </li>
                                                
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Rasa</li>
                                                        <li class="non_list">Python </li>
                                                        <li class="non_list">Natural language processing(NLP)</li>
                                                        <li class="non_list">Scrum</li>

                                                    </div>
                                                </div>   
                                            </ul>    
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        
                            
                            <div class="resume-item" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 resume-title">Internship - Data Analyst</div>
                                        <div class="h6 mt-0 title">Welyne </div>
                                        <p >During my summer internship, I worked on a dedicated platform for call centers, with a primary focus on enhancing customer-agent interactions. Initially, i transcribed audio recordings into text format and performed speaker diarization. Subsequently, i extracted customer questions along with their corresponding answers. I identified relevant keywords. Next,i utilized embeddings for clustering and classification to categorize customer questions. Following this, i employed an embeddings search algorithm to retrieve answers within each cluster.</p>
                                        <p> Lastly, i trained our chatbot to recognize the subject of the posed question and provide the chatbot engine with appropriate responses, resulting in the generation of chatbot replies.</p>
                                    </div>    
                                    <div class="col-lg-6">      
                                        <ul>
                                            <div class="h5 mt-0 title"></div>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list"> Development of a Multilingual Chatbot </li>
                                                
                                            </ul>
                                            
                                                <li class="list">Technologies and Language:</li>
                                                <ul>
                                                    <div class="row">
                                    
                                                        <div class="col-md-6">
                                                            <li class="non_list">Data Preprocessing</li>
                                                            <li class="non_list">NLP</li>
                                                            <li class="non_list">Unsupervised Learning</li>
                                                            <li class="non_list">Python</li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li class="non_list">TensorFlow</li>
                                                            <li class="non_list"> OpenAI</li>
                                                            <li class="non_list">MongoDB</li>
                                                            <li class="non_list"> Git</li>
                                                        </div>
                                                    </div>   
                                                </ul>
                                                
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="resume-item" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 resume-title">Summer Internship</div>
                                        <div class="h6 mt-0 title">BNA Bank </div>
                                        <p >During my summer internship, I gained hands-on experience in several key banking operations. I was responsible for creating bank accounts for new clients, ensuring that all necessary documentation was accurately
                                             processed and entered into the system. I also conducted reviews of credit files to assess and verify creditworthiness, contributing to informed decision-making. Additionally, I managed the activation and deactivation of bank cards, ensuring that clients had access to their accounts as needed while maintaining security protocols.
                                              My role included handling deposits by check and cash .</p>
                                        <p> Lastly, I was involved in bank account transfers, facilitating smooth and secure transfers of funds between accounts to meet client needs. These tasks provided me with a comprehensive understanding of banking operations and client service.
                                         </p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <div class="h5 mt-0 title"></div>
                                            
                                                <li class="list">Technologies and Language:</li>
                                                <ul>
                                                    <div class="row">
                                    
                                                        <div class="col-md-6">
                                                            <li class="non_list">Data Preprocessing</li>
                                                            <li class="non_list">NLP</li>
                                                            <li class="non_list">Unsupervised Learning</li>
                                                            <li class="non_list">Python</li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li class="non_list">TensorFlow</li>
                                                            <li class="non_list"> OpenAI</li>
                                                            <li class="non_list">MongoDB</li>
                                                            <li class="non_list"> Git</li>
                                                        </div>
                                                    </div>   
                                                </ul>
                                                
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>    
                        
                    </ul>
                </div>
                
    </div>
</div>
        